{% extends 'base.html.twig' %}

{% block title %}Hello ProposController!
{% endblock %}

{% block body %}
	<body class="propos">
		<div class="container text-center">


			<div class="propo">
				
				<h1 class="text1">À propos de moi</h1>
				<br>
				<br>
				<p>Bonjour, et bienvenue sur mon portfolio !
					<br>
					<br>
					Je m’appelle Hind, je suis anciennement diplômée d’un TS en Déveleppement Informatique.<br>
					J'ai souhaité me réorienter dans un domaine qui me plait davantage.<br>
					C’est pourquoi, je me suis intéressée de plus près à ce que je voulais réellement, à mes réelles passions,<br>
					et j'en ai découvert une : le développement web !
					<br>
					<br>
					Aujourd’hui, je suis très motivée et je suis actuellement en formation<br>
					de développeur web junior chez lepoles.
																				Vous découvrirez dans ce portfolio,<br>
					mes compétences, mon parcours ainsi que les projets que j'ai pu réaliser.
				</p>
				<br>
				<br>
				{# <a href="assets/img/hind.pdf" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" target="_blank">Voir Mon CV</a> #}
			</div>

		</div>

		

	</body>
{% endblock %}
