{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}

<body id ="image">
	<section class="web">
        <div class="container"> 
            <div class="row">
		        <div class="border">
			        <h1>Développeuse Intégratrice Web Junior</h1>
                    <p>NOM: BERDELLIL </p> 
                    <p>PRÉNOM: HIND</p>
                    <p>EMAIL: hind.berdellil@lepoles.org</p>
                    <a href="assets/img/hind.pdf" class="btn-active active" role="button" aria-pressed="true" target="_blank">Voir Mon CV</a>
		        </div>
            </div>
        </div>
	</section>
    </body>
{% endblock %}
