{% extends 'base.html.twig' %}

{% block title %}Hello FormationsController!{% endblock %}

{% block body %}


<div class=" container" >
<div id="form">

 {{form(formFormations)}}

</div>
</div>



{% endblock %}
