{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<body class="contact">

<div class="Contact">

    <div class="container">
		<div class="row ">
			
            <div class="text">
			<h1 >
				Contactez-moi
			</h1>
			</div>
                {{ form(contactForm) }}
		</div>
	</div>

</div>
</body>


{% endblock %}
