{% extends 'base.html.twig' %}

{% block title %}Hello ProjetsController!{% endblock %}

{% block body %}

    <div class=" container" >
        <div id="pro">
            {{form(proProjets)}}
        </div>
    </div>

{% endblock %}
